v*.html
!v2.html
.DS_Store
*.MOV
img/ep_owner.jpg
img/ep_owner_t5.jpg
img/ep_owner_t15.jpg
img/ep_owner_t20.jpg
img/ep_owner_t25.jpg
img/ep_owner_t35.jpg
img/ep_owner_t45.jpg
img/ep_owner_t50.jpg
img/ep_owner_t55.jpg
